* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}



body {
    justify-content: space-between;
}

aside {    
        border: 1px dashed pink;
        width: 40%;
        margin-left: 20px;

    }

main {
        border: 1px dashed pink;
        margin: 20px;
        width: 60%;
    }

.carousel {
    width: 35%;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    text-align: center;
}