* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.navbar.navbar-expand-md.fixed-top {
    display: flex;
    padding-top: 0;
  }
  
  .navbar.navbar-expand-md.fixed-top>.container {
    margin-right: 0;
    margin-left: 0;
  }
  
  #navbarNav,
  nav-item {
    margin: 10px 0 5px 0;
    font-size: medium;
    display: inline-block;
    width: 100%;
    font-weight: 400;
    background-image: linear-gradient(to right, rgb(146, 128, 128) , rgb(238, 36, 113));
    }
  
    .navbar ul li a {
        color: black;
    }



body {
    justify-content: space-between;
}

aside {    
        border: 1px dashed pink;
        width: 40%;
        margin-left: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

main {
        margin: 20px 20px;
        width: 60%;
        display: flex;
        flex-direction: column;
    }

#divPai {
    display: flex;
}
.carousel {
    width: 90%;
    margin-left: 25px;
}

.carousel-indicators {
    position: relative;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    text-align: center;
}

form {
    display: block;
    justify-content: center;
    margin-left: 150px;
}